$elHeight: 48px;
$accent: #23538C;
$accent-light: #5994DA;

body{
	margin:0px;
	font-family: "aktiv-grotesk", sans-serif;

	header{
		height: 48px;
		width: 100%;
		position: fixed;
		font-size: 24px;
		font-weight: 700;
		opacity: .9;
		border-bottom: 1px solid #aaa;
		z-index: 10;
		background-color: #fff;

		#title{
			padding: 8px 12px;
		}
	}

	#map{
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		left: 0px;

		.ol-attribution{
			bottom: 107px;
		}
	}

	#list{
		background: #fff;
		position: absolute;
		margin-top: -100px;
		top: 100%;
		width: 100%;
		opacity: .9;
		// border-top: 1px solid #aaa;

		.treeItem{
			position: relative;
			min-height: 64px;
			border-top: 1px solid $accent;

			.left{
				position: absolute;
				width: 64px;
				min-height: 64px;

				background: url("icons/t1.svg") no-repeat center center;
				background-size: auto 48px;

				&.t1{
					background-image: url("icons/t1.svg")
				}

				&.t2{
					background-image: url("icons/t2.svg")
				}

				&.t3{
					background-image: url("icons/t3.svg")
				}

				&.t4{
					background-image: url("icons/t4.svg")
				}

				&.t5{
					background-image: url("icons/t5.svg")
				}

				&.t6{
					background-image: url("icons/t6.svg")
				}

				&.t7{
					background-image: url("icons/t7.svg")
				}

				&.t8{
					background-image: url("icons/t8.svg")
				}

				&.t9{
					background-image: url("icons/t9.svg")
				}

				&.t10{
					background-image: url("icons/t10.svg")
				}

			}

			.right{
				left: 64px;
				right: 0px;
				min-height: 64px;
				margin-left: 64px;
				padding: 4px 8px;
				border-left: 1px solid $accent;

				.title{
					font-size: 18px;
					color: $accent;
				}

				.subtitle{
					font-style: italic;
					font-size: 13px;
					color: $accent-light;
				}

				.values{
					margin-top: 5px;
					border-top: 1px solid $accent;
					margin: 5px -8px -2px -8px;
					padding: 2px 8px 0px;
					div{
						color: $accent;
						display: inline-block;
						.icon{
							height: 14px;
							width: 14px;
							background: url("icons/direction.svg") no-repeat center center;
							margin-right: 1px;
						}

						&.Pflanzjahr{
							margin-left: 20px;

							.icon{
								background: url("icons/year.svg") no-repeat center center;
							}
						}
					}
				}
			}
		}
	}
}