body {
  margin: 0px;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  background: #fff; }
  body header {
    position: fixed;
    height: 48px;
    top: 6px;
    left: 6px;
    right: 6px;
    transition: all .4s;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-tap-highlight-color: transparent; }
    body header .btSearch {
      position: fixed;
      transition: all .4s;
      width: 48px;
      height: 48px;
      left: 6px;
      cursor: pointer;
      background: url("svg/bt-search.svg") center center no-repeat; }
    body header .btBack {
      position: fixed;
      transition: all .4s;
      width: 48px;
      height: 48px;
      left: 6px;
      cursor: pointer;
      opacity: 0;
      background: url("svg/bt-back.svg") center center no-repeat; }
    body header .btOpt {
      position: fixed;
      transition: all .4s;
      width: 48px;
      height: 48px;
      cursor: pointer;
      right: 6px;
      background: url("svg/bt-opt.svg") center center no-repeat;
      border-left: 1px solid #eee; }
    body header .title {
      pointer-events: none;
      position: fixed;
      height: 32px;
      left: 0px;
      right: 48px;
      padding: 8px 12px;
      font-size: 24px;
      font-weight: 500;
      color: #2DD693;
      transition: all .4s;
      left: 40px; }
    body header .input {
      font-family: inherit;
      position: fixed;
      height: 32px;
      left: 52px;
      outline: none;
      right: 52px;
      padding: 8px 0px;
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      background: transparent;
      opacity: 0;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    body header .search {
      pointer-events: none;
      position: fixed;
      height: 32px;
      left: 20px;
      right: 0px;
      padding: 8px 12px;
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      transition: all .4s;
      opacity: 0; }
      body header .search .sub {
        pointer-events: none;
        font-size: 12px;
        font-weight: 300; }
    body header .hamburger {
      position: fixed;
      right: 0px;
      top: 0px;
      width: 48px;
      height: 48px;
      background: center center no-repeat;
      background-image: url(svg/hamburger-green.svg);
      transition: all .4s; }
    body header.search {
      background: #2DD693;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6); }
      body header.search .btSearch {
        opacity: 0; }
      body header.search .btOpt {
        opacity: 0; }
      body header.search .btBack {
        opacity: 1;
        left: 6px; }
      body header.search .title {
        opacity: 1;
        left: 60px; }
      body header.search .input {
        opacity: 1; }
      body header.search .search {
        opacity: .7;
        left: 40px; }
        body header.search .search.hide {
          opacity: 0; }
  body #results {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 54px;
    left: 0;
    width: 100%;
    bottom: 0px;
    z-index: -1;
    transition: all .4s;
    opacity: 0;
    pointer-events: none; }
    body #results.search {
      opacity: 1;
      pointer-events: all; }
    body #results #rInner {
      background: #fff;
      margin: 6px 6px 0px 6px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5); }
      body #results #rInner .rTreeItem, body #results #rInner .rAddressItem {
        height: 55px;
        border-bottom: 1px solid #E2E2E2;
        padding: 8px 12px; }
        body #results #rInner .rTreeItem.rAddressItem, body #results #rInner .rAddressItem.rAddressItem {
          height: 37px; }
        body #results #rInner .rTreeItem:last-of-type, body #results #rInner .rAddressItem:last-of-type {
          border: none; }
        body #results #rInner .rTreeItem div, body #results #rInner .rAddressItem div {
          font-size: 12px;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          margin-bottom: 1px; }
          body #results #rInner .rTreeItem div.rTitle, body #results #rInner .rAddressItem div.rTitle {
            font-size: 16px;
            margin-bottom: 2px;
            color: #2DD693; }
  body #map {
    z-index: -2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 60px;
    background: #fff;
    -webkit-tap-highlight-color: transparent; }
  body #geolocation {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 160px;
    right: 60px;
    background: #fff url(svg/geolocation-accent.svg) center center no-repeat;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: -2; }
  body #mapchange {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 160px;
    right: 6px;
    background: #fff url(svg/aerial.png) center center no-repeat;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: -2; }
    body #mapchange.map {
      background: #fff url(svg/map.png) center center no-repeat; }
  body #trees {
    position: absolute;
    top: 100%;
    margin-top: -120px;
    width: 100%;
    background: #fff;
    min-height: 144px;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.5); }
    body #trees.search {
      position: fixed;
      z-index: -2; }
    body #trees .tree {
      width: 100%;
      opacity: .3;
      transition: opacity .1s;
      background: #fff;
      min-height: 100%; }
      body #trees .tree.active {
        opacity: 1; }
      body #trees .tree .title {
        position: relative;
        width: 100%;
        min-height: 64px;
        background: #2DD693;
        color: #fff;
        font-size: 12px; }
        body #trees .tree .title .left, body #trees .tree .title .border {
          position: absolute; }
          body #trees .tree .title .left.left, body #trees .tree .title .border.left {
            height: 100%;
            width: 48px; }
            body #trees .tree .title .left.left .dir, body #trees .tree .title .border.left .dir {
              width: 34px;
              height: 34px;
              top: 7px;
              left: 7px;
              position: absolute;
              background: url(svg/dir-white.svg) center center no-repeat; }
            body #trees .tree .title .left.left .dist, body #trees .tree .title .border.left .dist {
              position: absolute;
              text-align: center;
              top: 40px;
              width: 48px; }
          body #trees .tree .title .left.border, body #trees .tree .title .border.border {
            position: absolute;
            left: 48px;
            width: 1px;
            top: 6px;
            bottom: 6px;
            background: #fff; }
        body #trees .tree .title .right {
          padding: 6px 5px 6px 10px; }
          body #trees .tree .title .right.geo {
            margin-left: 49px; }
          body #trees .tree .title .right .ger {
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 5px;
            margin-top: 3px;
            font-weight: 500; }
          body #trees .tree .title .right .lat {
            margin-bottom: 3px; }
    body #trees .details {
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      border-bottom: 1px solid #2DD693;
      text-align: justify;
      font-size: 12px;
      color: #2DD693; }
      body #trees .details .detail {
        display: inline-block;
        margin-top: -2px; }
        body #trees .details .detail:before {
          padding-right: 2px;
          top: 7px;
          position: relative; }
        body #trees .details .detail.year:before {
          content: url("svg/detail-year.svg"); }
        body #trees .details .detail.height:before {
          content: url("svg/detail-height.svg"); }
        body #trees .details .detail.width:before {
          content: url("svg/detail-width.svg"); }
        body #trees .details .detail.baumnum:before {
          content: url("svg/detail-id.svg"); }
      body #trees .details:after {
        content: "";
        width: 100%;
        display: inline-block; }
    body #trees .location {
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      border-bottom: 1px solid #2DD693;
      font-size: 12px;
      color: #2DD693; }
      body #trees .location div {
        margin-top: -2px; }
        body #trees .location div:before {
          padding-right: 2px;
          top: 7px;
          position: relative;
          content: url("svg/location.svg"); }
    body #trees .images {
      background-color: #000;
      height: 204px;
      width: 100%;
      position: relative;
      margin-top: -1px;
      padding: 2px 0px;
      overflow: hidden; }
      body #trees .images .img1 {
        height: 204px;
        width: 66%;
        margin-left: -1px;
        position: absolute;
        background-size: cover;
        background-position: center; }
      body #trees .images .img2 {
        left: 66%;
        margin-left: 1px;
        position: absolute;
        width: 34%;
        height: 100px;
        background-size: cover;
        background-position: center; }
      body #trees .images .img3 {
        width: 34%;
        height: 102px;
        top: 104px;
        left: 66%;
        margin-left: 1px;
        position: absolute;
        background-size: cover;
        background-position: center center; }
      body #trees .images .simg {
        height: 204px;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center; }
    body #trees .wiki {
      hyphens: auto;
      -o-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      padding: 12px;
      font-size: 12px; }
      body #trees .wiki a {
        text-decoration: none;
        color: #2DD693; }
    body #trees #overviewTitle {
      font-size: 12px;
      color: #2DD693;
      border-top: 1px solid #2DD693;
      padding: 12px 0px 0px 12px; }
    body #trees #overview {
      width: 100%;
      height: 270px;
      pointer-events: none;
      margin-bottom: 12px; }
  body #imgDetail {
    background: #000 center center no-repeat;
    background-size: contain;
    position: fixed;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 500;
    pointer-events: none;
    transition: opacity .4s; }
    body #imgDetail.active {
      opacity: 1;
      pointer-events: all; }
    body #imgDetail .close {
      position: fixed;
      width: 60px;
      height: 60px;
      cursor: pointer;
      background: url(svg/close2.svg) center center no-repeat;
      right: 0px;
      top: 0px; }
    body #imgDetail .licence {
      position: fixed;
      padding: 12px;
      bottom: 0px;
      font-size: 12px; }
      body #imgDetail .licence a {
        text-decoration: none;
        color: #fff; }
  body #splashscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 750;
    transition: opacity .4s;
    background: #2DD693 url(svg/splashbottom.svg) no-repeat left bottom;
    background-size: 100% auto; }
    body #splashscreen .text {
      display: none;
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      left: 10px;
      top: 12px;
      transition: opacity .4s; }
    body #splashscreen.hide {
      opacity: 0;
      pointer-events: none; }
    body #splashscreen .ani {
      background: url(svg/tree-white.svg) center center no-repeat;
      animation-iteration-count: infinite;
      position: fixed;
      height: 30px;
      width: 30px;
      top: 200px;
      left: 50%;
      transition: opacity .4s;
      opacity: 0; }
      body #splashscreen .ani.absolute {
        position: absolute; }
    body #splashscreen .ani1 {
      animation-duration: 3s;
      margin-top: -15px;
      margin-left: -15px; }
    body #splashscreen .ani2 {
      animation-duration: 4s;
      margin-top: -15px;
      margin-left: -50px; }
    body #splashscreen .ani3 {
      animation-duration: 2.5s;
      margin-top: -15px;
      margin-left: 20px; }
    body #splashscreen .ani4 {
      animation-duration: 3.2s;
      margin-top: -50px;
      margin-left: -15px; }
    body #splashscreen .ani5 {
      animation-duration: 5s;
      margin-top: -50px;
      margin-left: -50px; }
    body #splashscreen .ani6 {
      animation-duration: 1.5s;
      margin-top: -50px;
      margin-left: 20px; }
    body #splashscreen .ani7 {
      animation-duration: 2.8s;
      margin-top: 20px;
      margin-left: -15px; }
    body #splashscreen .ani8 {
      animation-duration: 4s;
      margin-top: 20px;
      margin-left: -50px; }
    body #splashscreen .ani9 {
      animation-duration: 1.7s;
      margin-top: 20px;
      margin-left: 20px; }
  body #info {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s, transform .4s;
    transform: translateX(30%); }
    body #info.active {
      opacity: 1;
      pointer-events: all;
      transform: translate(0, 0); }
    body #info .close {
      position: fixed;
      width: 60px;
      height: 60px;
      cursor: pointer;
      background: url(svg/close-black.svg) center center no-repeat;
      right: 0px;
      top: 0px; }
    body #info .text {
      font-size: 12px;
      padding: 60px 18px 0px 12px;
      hyphens: auto;
      -o-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto; }
      body #info .text a {
        color: #2DD693;
        text-decoration: none; }

@keyframes ani1 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes ani2 {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (min-width: 800px) {
  body header {
    width: 380px; }
    body header .btOpt {
      position: fixed;
      transition: all .4s;
      width: 48px;
      height: 48px;
      bottom: 6px;
      cursor: pointer;
      border-left: 1px none;
      border-left: 1px solid #EEE;
      right: 386px;
      background: #fff url("svg/bt-opt.svg") center center no-repeat;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
      border-radius: 2px; }
  body #trees {
    width: 380px;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    height: 100%;
    overflow: auto; }
  body #map {
    width: auto;
    right: 380px;
    left: 0px;
    height: 100%; }
  body #geolocation {
    bottom: 60px;
    left: 6px; }
  body #mapchange {
    bottom: 6px;
    left: 6px; }
  body #results {
    width: 392px; }
  body #info {
    width: 320px;
    height: 344px;
    left: 50%;
    margin-left: -160px;
    top: 100px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    background: #fff;
    transform: translateY(30%); } }

/*# sourceMappingURL=style.css.map */
